# General
.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/

# Backend - Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
env/
.pytest_cache/
.coverage
htmlcov/
backend/temp/
*.egg-info/

# Mobile - Android
.gradle/
build/
local.properties
.cxx/
*.iml
*.hprof
*.keystore
*.jks
captures/
.externalNativeBuild/
.kotlin/
